[AUTOUPDATE]
# Vorabfassungen. Zeigt derzeit auf denselben Stand wie release.cfg.

VERSION=1.1.6

ARCHIVEURL=https://github.com/timanders22/LoxBerry-Plugin-Ultraschall/archive/refs/tags/v1.1.6.zip

INFOURL=https://github.com/timanders22/LoxBerry-Plugin-Ultraschall/releases/tag/v1.1.6
